.welcome_rbw {
  color: white;
  font-size: 50px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 4px;
  margin-left: 1px;
}

.top {
  background-color: #657383;
}

body {
  background-color: #AFDCEC;
  font-family: 'Roboto', sans-serif;
}
 .index_button_right {
   color: white !important;
   margin-top: 16px;

   font-family: 'Roboto', sans-serif;
   font-size: 30px;
 }

 .index_button_left {
   color: white !important;
 }

/*def the background and additional info for the homepage*/
.jumbotron{
  background:url("/img/homepage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 950px;
}

/*def background for all the pages*/
.ScndJTron {
  background:url("/img/all_robots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;

  text-align: center;
  text-transform: uppercase;

  color: #657383;
  font-size: 40px;
  font-style: bold;
}

/*display average on dashboard*/
.average {
  text-align: justify;
  font-size: 35px;
}

/*format the sub_title for index*/
.sub_title {
  text-align: center;
  font-size: 50px;
}

/*Formatting the header for Robot New*/
.new-robot{
  font-size: 40px !important;
}

/*Formatting the info being display for robots*/
.displaying {
  font-size: 35px !important;
  color: #657383;
  text-align: right;
}
