.welcome_rbw {
  color: white;
  font-size: 50px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 4px;
  margin-left: 450px;
}

.top {
  background-color: #657383;
}

body {
  background-color: #AFDCEC;
  font-family: 'Roboto', sans-serif;
}
 .index_button {
   color: white !important;
   margin-top: 12px;

   font-family: 'Roboto', sans-serif;
   font-size: 30px
 }

.jumbotron{
  background:url("/img/homepage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}

.ScndJTron {
  background:url("/img/all_robots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;

  text-align: center;
  text-transform: uppercase;

  color: #657383;
  font-size: 40px;
  font-style: bold;
}
