<div class="jumbotron ScndJTron">
  <div class="average">
    <h1 align="center">STATISTICS</h1>
    <table  class="table table-striped">
      <tr>
        <th>Total Number of Robots</th>
        <th>Average Robot Age</th>
      </tr>
      <tr>
        <td><%= robot_world.all.count %></td>
        <td><%= robot_world.average_age %></td>
      </tr>

      <tr>
        <th>Total Robots</th>
        <th>Additional Stats</th>
      </tr>
      <tr>
        <!-- need to delete "additional_stats method once all stats have been created" -->
        <td><%= robot_world.all.count %></td>
        <td><%= robot_world.additional_stats %></td>
      </tr>

    </table>
  </div>
</div>
