<div class="jumbotron ScndJTron">

  <div class="container">
    <form action="/robots" class="form-horizontal" method="post">
      <p class="text-left new-robot"><b>Enter a new robot:</b></p>
      <input type='text' class="form-control" name='robot[name]' placeholder="name"/>NAME<br/>
      <input type='text' class="form-control" name='robot[city]' placeholder="city"/>CITY<br/>
      <input type='text' class="form-control" name='robot[state]' placeholder="state"/>STATE<br/>
      <input type='text' class="form-control" name='robot[avatar]' placeholder="avatar"/>AVATAR<br/>
      <input type='text' class="form-control" name='robot[birthdate]' placeholder="birthdate"/>BIRTHDATE<br/>
      <input type='text' class="form-control" name='robot[date_hired]' placeholder="date_hired"/>DATA HIRED<br/>
      <input type='text' class="form-control" name='robot[department]' placeholder="department"/>DEPARTMENT<br/>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>

</div>
